h1 {
    color: green;
    font-family: Helvetica
}

.special {
    color: grey;
    font-weight: bold;
}

body {
    font-family: Helvetica, sans-serif;
}

@mixin fancy-button($color) {
    color: $color;
    border: 1px solid $color;
    border-radius: 3px;
    padding: 2px 5px;
}
   
.accept-button {
    @include fancy-button(green)
    
}

.reject-button {
    @include fancy-button(red);
}

a.accept-button:hover { 
    background-color: green;
    color: white;
}

a.reject-button:hover { 
    background-color: red;
    color: white;
}