@import 'widget';

$primary-color: #ff69b4;
$font-stack: Helvetica, sans-serif;

.gizmo {
    background-color: $primary-color;
    font: 24px $font-stack;
}

body {
    font-family: Helvetica, sans-serif;
}

@mixin fancy-button($color) {
    color: $color;
    border: 1px solid $color;
    border-radius: 3px;
    padding: 2px 5px;
  }
   
  .accept-button {
    @include fancy-button(green)
  }
   
  .reject-button {
    @include fancy-button(red);
  }