$widgetcolor: blue;

// Simple numeric operations
$gutter-width: 40px;
$small-gutter-width: 40px / 2;
 
// Color operations
$primary-color: #020576;
$primary-highlight: lighten($primary-color, 50%);
 
// Custom function
@function gutter-offset($width) {
  @return $gutter-width + ($width / 2);
}

.widget {
    position: absolute;
    left: gutter-offset(100px);
    color: $widgetcolor;
   
    div {
      font-weight: bold;
      border-color: $widgetcolor;
      margin: 0 10px;
    }
  
    ul.listicle {
      display: flex;
   
      li {
        color: red;
      }
    }
  }

  %base-widget {
    padding: 3em;
    display: flex;
  }
   
  .important-widget {
    @extend %base-widget;
    font-weight: bold;
  }
   
  .disabled-widget {
    @extend %base-widget;
    color: gray;
    cursor: not-allowed;
  }